@font-face {
  font-family: 'MisterPixel' ;
  src: url('../fonts/misterpixel/otf/mister-pixel-regular.otf');
}
@font-face {
  font-family: 'VG5000' ;
  src: url('../fonts/vg5000/fonts/VG5000-Regular.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.body-index {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom , #ff9966 , #ff9966 , #ccff33);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}
.body-about {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom , #ccccff , #99ffcc);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-schedule {
  height: 100%;
  margin: 0;
  background-color: #ff9966;
  /*background-image: linear-gradient(to bottom , #99ffcc , #ff9966 , #ff9966 , #ff9966 , #ff9966 , #ff9966);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-submission {
  background-color: #ccccff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-archive {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom , #ccff33 , #ccff99 ,  #ccff99 , #99ffcc , #99ffcc );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-player{
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  /*background-image: linear-gradient(to bottom , #ccff33 , #ccff99 ,  #ccff99 , #99ffcc , #99ffcc );
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  text-align: center;
  overflow-y: hidden;
  padding-top:7%;
}
header{
  position: fixed;
  width: 100%;
  height: 25%;
  top: 0;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}
.header-schedule{
  height: 32%;
  /*height: 220px;*/
  background-image: linear-gradient(to bottom , #99ffcc , #99ffcc , #ff9966);
  background-repeat: no-repeat;
  z-index: 0;
}
.header-submission{
  height: 22%;
  /*height: 150px;*/
  background-color: #ccccff;
  z-index: 0;
}
.header-archive{
  height: 32%;
  /* height: 280px; */
  background-image: linear-gradient(to bottom , #ccff33 , #ccff33 , #ccff99);
  z-index: 0;
}
#general-page-title{
  position: relative;
  display: inline-block;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 4vw;
  font-weight: lighter;
  color: #0033ff;
  margin-left: 10%;
  margin-bottom: 22px;
}
#return-button{
  position: absolute;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 2.1vw;
  font-weight: lighter;
  text-decoration: none;
  color: #000000;
  top:0;
  left:0;
  margin-top: 3px;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 4.5px;
  padding-right: 5px;
  z-index: 4;
}
#return-button:hover{
  border: 0.5px black dotted;
  padding-top: 0.5px;
  padding-bottom: 1.5px;
  padding-left: 4px;
  padding-right: 4.5px;
  cursor: pointer;
}
#header-icon{
  position: relative;
  max-width: 10%;
  top:auto;
  left:55%;
  margin-top: -4%;
  padding: 0.5%;
}
#clock{
  position: absolute;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 2vw;
  font-weight: lighter;
  color: #0033ff;
  top:0;
  right:0;
  margin-top: 3px;
  margin-right: 5px;
  padding-top: 10px;
  padding-right: 30px;
}
#button-tab{
  position: sticky;
  text-align: center;
  width: 100%;
  margin-top: 1%;
}
#mobile-button-tab{
  display:none;
}
button{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.5vw;
  margin-top: 0.5%;
  background-color: #FFFFFF;
  border: 0.15vw solid black;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.8% 4%;
  border-radius: 17px;
  cursor: pointer;
  z-index: -1;
}
button:hover{
  color: #FFFFFF;
  background-color: #000000;
}
button:active{
 border: 0.15vw white dotted;
}
/* scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #000000; }
::-webkit-scrollbar-thumb:hover { background: #000000; }
::-webkit-scrollbar-button { background: transparent; }
::-webkit-scrollbar-track-piece { background: #ffffff;  }
::-webkit-scrollbar-corner { background: transparent; }

/************************ PLAYER ************************/
/* main player */
.player-container#main-player{
   position:fixed;
   text-align:center;
   bottom:0;
   left:0;
   width:100%;
   background-color:#000000;
   height: 4%;
   padding:5px;
   padding-bottom:2.5%;
   overflow-y: visible;
}
p#player-text{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.25vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ccff33;
  padding: 0.5%;
  max-width: 80%;
  text-align: center;
  margin: 0;
  -moz-animation: player-text 5s linear infinite alternate;
  -webkit-animation: player-text 5s linear infinite alternate;
  animation: player-text 5s linear infinite alternate;
}
#player-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.external-player-container#main-player{
  position:fixed;
  text-align:center;
  background: #ffffff;
  width:100%;
  max-height:15%;
  padding:5px;
  margin-bottom: 5%;
  bottom: 0;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
}
p#external-player-text{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 3vw;
  font-weight: lighter;
  text-transform: uppercase;
  color: #0000ff;
  background-color: #ffffff;
  padding: 0.5%;
  padding-right: 5%;
  margin-right: 5%;
  margin-left: 9%;
  text-align: center;
  -moz-animation: external-player-text 5s linear infinite alternate;
  -webkit-animation: external-player-text 5s linear infinite alternate;
  animation: external-player-text 5s linear infinite alternate;
}
#external-player-text{
  display: block;
  position: relative;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
input[type="image"]{
 float:left;
 height:1%;
}
#volumeon-icon{
  float:left;
  width: 2%;
  padding: 0.1%;
}
#volumeoff-icon{
  display: none;
  width: 2%;
  padding: 0.1%;
}
#external-volume-icon{
  position: fixed;
  bottom: 0;
  left:0;
  width: 6%;
  height:6%;
  margin: 2%;
  z-index: 1;
}
/* player-text */
@-moz-keyframes player-text {
0%   { -moz-transform: translateX(21%); }
100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes player-text {
0%   { -webkit-transform: translateX(21%); }
100% { -webkit-transform: translateX(0%); }
}
@keyframes player-text {
0%   {
-moz-transform: translateX(21%); /* Firefox bug fix */
-webkit-transform: translateX(21%); /* Firefox bug fix */
transform: translateX(21%);
}
100% {
-moz-transform: translateX(0%); /* Firefox bug fix */
-webkit-transform: translateX(0%); /* Firefox bug fix */
transform: translateX(0%);
}
}
/* external-player-text */
@-moz-keyframes external-player-text {
0%   { -moz-transform: translateX(53%); }
100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes external-player-text {
0%   { -webkit-transform: translateX(53%); }
100% { -webkit-transform: translateX(0%); }
}
@keyframes external-player-text {
0%   {
-moz-transform: translateX(53%); /* Firefox bug fix */
-webkit-transform: translateX(53%); /* Firefox bug fix */
transform: translateX(53%);
}
100% {
-moz-transform: translateX(0%); /* Firefox bug fix */
-webkit-transform: translateX(0%); /* Firefox bug fix */
transform: translateX(0%);
}
}
/* external player hidden scrollbar */
.body-player::-webkit-scrollbar {
    display: none;
    background: transparent;
}
.body-player{ -ms-overflow-style: none; }
.body-player{ overflow: -moz-scrollbars-none; }

/* secondary player */
.player-container#secondary-player{
 position:fixed;
 text-align:center;
 bottom:0;
 left:0;
 width:100%;
 background-color: none;
 height: 4%;
 padding:5px;
 padding-bottom:2.5%;
 overflow-y: visible;
}
#info-icon{
  float:left;
  width: 2%;
  margin-left: -0.5%;
}
/* external player */
.body-player p#player-text{
  color: #0033ff;
}
.external-player{
  padding: 2%;
  text-align:center;
}
.body-player::-webkit-scrollbar { width: 0 !important }
.body-player{ -ms-overflow-style: none; }
.body-player{ overflow: -moz-scrollbars-none; }

/************************ -- INDEX -- ************************/
/* hidden scrollbar on index */
.body-index::-webkit-scrollbar { width: 0 !important }
.body-index{ -ms-overflow-style: none; }
.body-index{ overflow: -moz-scrollbars-none; }

#main-logo{
  width: 40%;
  padding-top:70px;
  padding-left:50px;
  padding-right: 20px;
  margin-bottom: -5px;
}
#main-logo-mobile{
  display: none;
}
.navigation-box{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
h2{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 2vw;
  font-weight: lighter;
  color: #0033ff;
  text-decoration: underline;
}
.icon-box{
  text-align: center;
  width: 20%;
  height: 20%;
}
#about-icon{
  width: 78%;
  margin-bottom: -4%;
}
#about-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#archive-icon{
  width: 74%;
}
#archive-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#submission-icon{
  width: 74%;
}
#submission-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#schedule-icon{
  width: 74%;
}
#schedule-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}

/*********************** -- ABOUT -- ***********************/
#about-page-title{
  position: relative;
  display: inline-block;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 4vw;
  font-weight: lighter;
  color: #000000;
  text-align: center;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#about-page-link{
  text-decoration: none;
  color: #000000;
}
.tooltip{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1vw;
  font-weight: lighter;
  font-style: italic;
  color: #ccff33;
  text-align: center;
}
#about-page-title .tooltip {
  visibility: hidden;
  background-color: #000000;
  color: #ccff33;
  border: 0.5px black solid;
  width: 200px;
  padding: 5px 0;
  text-align: center;
  /* tool tip position */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 105%;
}
#about-page-title:hover .tooltip {
  visibility: visible;
}
#second-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 8%;
}
.about-header-icon{
  display: none;
}
.sub-navigation-box-2{
  display: block;
  position: fixed;
  width: 90%;
  height: 55%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.about-nav{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.5vw;
  font-weight: lighter;
  color: #0033ff;
  z-index: 1;
}
.sub-icon-box{
  max-width: 10%;
  text-align: center;
}
.about-icons{
  width: 45%;
  margin: 5px;
}
#mission-icon-box{
 position: absolute;
 width: 100%;
 top: 69%;
 left: 19%;
}
#mission-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#mandate-icon-box{
  position: absolute;
  width: 100%;
  top: 11%;
  left: 31%;
}
#mandate-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#values-icon-box{
  position: absolute;
  width: 100%;
  top: 8%;
  left: 47%;
}
#values-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#policies-icon-box{
  position: absolute;
  width: 100%;
  top: 19%;
  left: 61%;
}
#policies-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#contact-icon-box{
  position: absolute;
  width: 100%;
  top: 75%;
  left: 70%;
}
#contact-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
[id^=modal] {
  display: none;
  position: fixed;
  font-family: 'MisterPixel', 'VG5000';
  border: 0.15vw solid black;
  background-color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 40%;
  min-width: 30%;
  max-height: 70%;
  max-width: 35%;
  overflow-y: scroll;
  padding: 10px;
  z-index: 1;
}
h4{
 font-weight: normal;
 text-decoration: underline;
}
#modal1:target {
  display: block;
  }
#modal2:target {
  display: block;
  }
#modal3:target {
  display: block;
  }
#modal4:target {
  display: block;
  }
#modal5:target {
    display: block;
    }
h3{
    font-size: 3vh;
    font-weight: lighter;
    color: #000000;
    border: 0.15vw solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.8% 4%;
    border-radius: 17px;
    cursor: default;
    margin: 2%;
    margin-top: 0.5%;
}
.inner-modal{
  display: block;
  color: #0000ff;
  font-size: 2.4vh;
  line-height: 35px;
  border: 0.15vw solid black;
  min-height: 410px;
  max-height: 30%;
  padding: 10px;
}
[id^=modal] a {
  float: right;
  }
  .close {
    display: block;
    position: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: #000000;
    font-size: 1.5em;
    font-weight: lighter;
    text-decoration: none;
    top: 0;
    left: 0;
  }
  .close:hover,
  .close:focus {
    background-color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

/************************ -- SCHEDULE-- ************************/
.schedule-button{
  margin: 0.2% 0.7%;
  /*margin: 2px 10px;*/
  padding: 0.8% 4%;
  /*padding: 10px 50px;*/
}
.schedule{
 display: block;
 position: relative;
 width: 100%;
 height: 60%;
 top: 30%;
 bottom: 10%;
 padding-top:1%;
 margin-top: 2%;
 z-index: -1;
}
table {
 border: 1px solid transparent;
 border-collapse: separate;
  width: 100%;
}
table#schedule-table {
  /*margin-top: 15.5%;*/
  text-align:center;
}
td{
  border: 1px solid black;
  /*background-color: white;*/
}
.show-time {
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.5vw;
  font-weight: lighter;
  background: #99ffcc;
  padding: 10px;
  width:10%;
}
.show-name, .host-name, .show-description{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.5vw;
  font-weight: lighter;
  padding: 5px;
  height: 50px;
}
td.show-name{
   width:30%;
}
td.host-name {
   width:30%;
}
td.show-description {
   width:70%;
}
/************************ SUBMISSION ************************/
#submission-page-link{
  text-decoration: none;
  color: #0033ff;
}
#general-page-title .tooltip {
  visibility: hidden;
  background-color: #000000;
  color: #ccff33;
  border: 0.5px black solid;
  width: 200px;
  padding: 5px 0;
  text-align: center;
  /* tool tip position */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 105%;
}
#general-page-title:hover .tooltip {
  visibility: visible;
}
#submission-section-description{
font-family: 'VG5000', 'MisterPixel';
}
#form{
  display: block;
  text-align:left;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.4vw;
  font-weight: lighter;
  color: #000000;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  /*bottom: 10%;*/
  padding-bottom: 10%;
  padding-top:3%;
  z-index: -1;
}
#form::-webkit-scrollbar { width: 0 !important }
#form{ -ms-overflow-style: none; }
#form{ overflow: -moz-scrollbars-none; }

form{
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: left;
  margin-top: 15%;
  width: 90%;
  padding-top: 10vh;
}
.form-section{
  margin: 2.5px;
}
fieldset{
  border: none;
}
legend{
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5vw;
  /*text-align: center;*/
  /*border: 0.5px dotted #ff9966;*/
}
input{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.2vw;
  font-weight: lighter;
  text-align: center;
  margin: 5px;
}
input[type=text]{
  border: 0.1vw black solid;
  background-image: linear-gradient(to bottom , #ccccff , #ff9966);
  height: 5%;
}
textarea{
  border: 0.1vw black solid;
  background-image: linear-gradient(to bottom , #ccccff , #ff9966);
  width: 40%;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
  overflow-x: auto;
  text-align: justify;
  text-overflow: inherit;
}
.timeslot{
  width: 50%;
  padding: 5px;
  border: 0.5px dotted #ff9966;
}
span.error, .field-needed{
  color: #FF0000;
}
span.timeslot-span{
  font-size: 0.5vw;
}
.submission-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.4vw;
  margin-top: 0.5%;
  background-color: grey;
  border: 0.15vw black solid;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8% 4%;
  /*padding: 10px 50px;*/
  border-radius: 17px;
  cursor: pointer;
  z-index: 3;
}

.submission-class{
  z-index: 1;
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.4vw;
  margin-top: 0.5%;
  background-color: #0033ff;
  border: 0.15vw black solid;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8% 4%;
  /*padding: 10px 50px;*/
  border-radius: 17px;
  cursor: pointer;
}

.submit-class:hover{
  background-color: #ffffff;
  color: #0033ff;
}
.submission-button:active{
  border: 0.15vw black dotted;
}

.submission-class:active{
  border: 0.15vw black dotted;
}

footer{
  padding-bottom: 5%;
}

/************************ ARCHIVE ************************/
.archive-button{
  margin: 0.2% 4%;
  /*margin: 2px 10px;*/
}
#list-section{
  padding-top:10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.archive-list{
  display: block;
  position: relative;
  width: 54%;
  padding: 5px;
  padding-bottom: 10%;
  margin-top: 27%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100%;
  text-align:left;
  z-index: -2;
}
#show-list{
  display: none;
}
#artist-list{
  display: none;
}
#category-list{
  display: none;
}
ul{
  list-style: circle inside none;
}
li{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.3vw;
  color: #000000;
  line-height: 150%;
}
/* ****************************** */
/*************************** MOBILE DEVICE VERSION ***************************/
@media screen and (max-width: 800px), screen and (max-width: 800px and max-height: 500px){
  #general-page-title{
    margin-left: 7%;
    font-size: 7vw;
  }
  #return-button{
    font-size: 6vw;
 }
  #header-icon{
    position: absolute;
    max-width: 20%;
    top:0;
    right:0;
    margin-top: 3px;
    margin-right: 5px;
    padding-top: 10px;
    padding-right: 30px;
  }
  #clock{
    display: none;
    font-size: 4vw;
    padding-right: 20px;
  }
  #button-tab{
    display:none;
  }
  #mobile-button-tab{
    display:inline;
    position: fixed;
    text-align: center;
    width: 100%;
    left:0%;
    height: 10%;
    margin-top: 15%;
    border:0.5px solid black;
  }
  button{
    font-size: 1em;
    padding: 0% 0%;
    display: inline-block;
    border-radius: 17px;
  }
  .header-schedule{
    height: 35%;
  }
  .header-submission{
    height: 18%;
  }
  .header-archive{
    height: 15%;
  }
/************************ MOBILE INDEX ************************/
  .navigation-box{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    /*margin-top: -250px;*/
    margin-top: -20%;
    margin-bottom: 10%;
  }
  .icon-box{
    width: 100%;
    height: 100%;
  }
  #main-logo{
    display: none;
  }
  #main-logo-mobile{
    display: block;
    position: fixed;
    width: 80%;
    margin: 7%;
    margin-top: 10%;
  }
  #about-icon{
    margin-bottom: -15%;
  }
  h2{
    font-size: 4vw;
    padding-bottom: 10%;
  }
  .player-container#main-player{
   height: 40px;
   padding:10px;
  }
  .player-container#secondary-player{
   bottom:0;
   left:0;
   height: 4%;
   padding: 5px;
   padding-bottom:6%;
  }
  #volumeon-icon{
    float:left;
    width:6%;
    margin: 5px;
    margin-top: -1px;
  }
  #volumeoff-icon{
    display: none;
    float:left;
    width:6%;
    margin: 5px;
    margin-top: -1px;
  }
  #info-icon{
    float:left;
    width:6%;
    margin: -2px;
    margin-top: -1px;
  }
  p#player-text{
    font-size: 1.2em;
    padding: 0.5%;
    width: 100%;
    height: 4%;
  }
/************************ MOBILE ABOUT ************************/
  #about-page-title{
    margin-left: 7%;
    text-align: left;
    font-size: 7vw;
    width:80%;
    left: 0%;
    top: 0%;
    transform: translate(-0%, 0%);
  }
  #second-logo{
    display: none;
  }
 .about-header-icon{
   display: block;
  }
 .sub-navigation-box-2{
   display:block;
   position: absolute;
   width: 100%;
   height: 65%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25%;
  }
  .about-icons{
    width: 100%;
  }
  .about-nav{
   font-size: 4vw;
  }
  .sub-icon-box{
   text-align: center;
  }
  #mission-icon-box{
   display: block;
   position: relative;
   width: 100%;
   top: auto;
   left: 40%;
   margin: 20px;
  }
  #mandate-icon-box{
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #values-icon-box{
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #policies-icon-box{
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #contact-icon-box{
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    left: 40%;
    margin: 20px;
  }
[id^=modal]{
    display: none;
    position: absolute;);
    max-height: 90%;
    min-width: 90%;
    margin:0;
    z-index: 1;
  }
  #about-page-title .tooltip {
    display: none;
  }
  h3{
    font-size: 1.7em;
  }
  .inner-modal{
    font-size: 1.25em;
    border: 0.15vw solid black;
    max-height: 90%;
    padding: 10px;
  }
/*********************** MOBILE SCHEDULE ************************/
.body-schedule{
   overflow-y:scroll;
}
/* scrollbar */
.body-schedule::-webkit-scrollbar-track { background: transparent; }
.schedule::-webkit-scrollbar-thumb { background: transparent; }
.schedule::-webkit-scrollbar-thumb:hover { background: transparent; }
.schedule::-webkit-scrollbar-button { background: transparent; }
.schedule::-webkit-scrollbar-track-piece { background: transparent;  }
.schedule::-webkit-scrollbar-corner { background: transparent; }

.schedule{
   height: 100%;
   margin-bottom: 1%;
   overflow-x: hidden;
   overflow-y:visible;
}
.show-time {
  font-size: 3.1vw;
  padding: 5px;
  width: 10%;
}
.show-name, .host-name, .show-description{
  font-size: 3.4vw;
  padding: 5px;
  height: 20px;
}
td.show-name{
   width:20%;
}
td.host-name {
   width:10%;
}
td.show-description {
   width:40%;
}
/************************ MOBILE SUBMISSION ************************/
#form{
 padding-top: 55px;
 font-size: 1.25em;
}
legend{
  font-size: 1.25em;
}
input{
  font-size: 1em;
}
input[type=text]{
  height: 25px;
  min-width: 150px;
}
#submission-button{
  font-size: 1.2em;
  border-radius: 17px;
  cursor: pointer;
}
#general-page-title .tooltip {
  display: none;
}
/************************ MOBILE SCHEDULE ************************/
.schedule-button{
  margin: 1% 5%;
  padding: 1.5% 5%;
}
/************************ MOBILE ARCHIVE BUTTON ************************/
  .archive-button{
    margin: 1% 5%;
    padding: 1.5% 5%;
  }
  .archive-list{
    padding-top: 55px;
    margin-top: 30%;
    height: 65%;
    width: 71%;
  }
  li{
    font-size: 2.5vw;
  }
}
@media screen and (max-height: 500px){
  /************************ MOBILE INDEX ************************/
  .navigation-box{
    margin-top: -10px;
  }
  .header-about{
    height: 125px;
  }
  .header-schedule{
    height: 210px;
  }
  .header-submission{
    height: 125px;
  }
  .header-archive{
    height: 210px;
  }
}
