@font-face {
  font-family: 'MisterPixel' ;
  src: url('../fonts/misterpixel/otf/mister-pixel-regular.otf');
}
@font-face {
  font-family: 'VG5000' ;
  src: url('../fonts/vg5000/fonts/VG5000-Regular.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100vh; /* to fix white bar in android/chrome on mobile */
}
.body-index {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  /*background-image: linear-gradient(to bottom , #ffffff , #ccff33);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}
.body-about {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom , #ccccff , #99ffcc);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-schedule {
  height: 100%;
  margin: 0;
  background-color: #ccff33;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-submission {
  height: 100%;
  margin: 0;
  background-color: #ccccff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}
.body-player{
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  text-align: center;
  overflow-y: hidden;
  padding-top:7%;
}
header{
  position: fixed;
  width: 100%;
  height: 25%;
  top: 0;
  padding-top: 45px;
  padding-right: 50px;
  padding-left: 50px;
}
.header-schedule{

  height: calc(180px + 2vw);
  background-image: linear-gradient(to bottom , #99ffcc , #99ffcc  , #ccff33);
  background-repeat: no-repeat;
  z-index: 0;
}
.header-submission{
  height: 22%;
  background-color: #ccccff;
  z-index: 0;
}
.header-archive{
  height: 32%;
  background-image: linear-gradient(to bottom , #ccff33 , #ccff33 , #ccff99);
  z-index: 0;
}
#general-page-title{
  position: relative;
  display: inline-block;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 7vmin /* 4vw */;
  font-weight: lighter;
  color: #0033ff;
  margin-left: 10%;
  margin-bottom: 22px;
}
#return-button{
  position: absolute;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 35px;
  font-weight: lighter;
  text-decoration: none;
  color: #000000;
  top:0;
  left:0;
  margin-top: 3px;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 4.5px;
  padding-right: 5px;
  z-index: 4;
  outline: none;
}
#return-button:hover{
  border: 0.5px black dotted;
  border: none;
  padding-top: 0.5px;
  padding-bottom: 1.5px;
  padding-left: 4px;
  padding-right: 4.5px;
  cursor: pointer;
}
#header-icon{
  position: absolute;
  width: 8%;
  right:0;
  left:auto;
  margin-top: -2%;
  padding-top: 4%;
  padding: 0.5%;
  margin-right: 4%;
  z-index: -1;
}
#clock{
  position: absolute;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.25vw;
  color: #ccff33;
  padding-right: 1%;
  max-width: 80%;
  top:0;
  right:0;
  margin-top: 0px;
  margin-right: 5px;
  padding-top: 8px;
  padding-right: 30px;
}
#button-tab{
  position: sticky;
  text-align: center;
  width: 100%;
  margin-top: 1%;
}
button{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 3vmin /*1.5vw*/;
  margin-top: 0.5%;
  background-color: #FFFFFF;
  border: 0.15vw solid black;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.8% 4%;
  border-radius: 17px;
  cursor: pointer;
  z-index: -1;
}
button:hover{
  color: #FFFFFF;
  background-color: #000000;
}
button:active{
 border: none;
 outline:none;
}
button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}
/* scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #000000; }
::-webkit-scrollbar-thumb:hover { background: #000000; }
::-webkit-scrollbar-button { background: transparent; }
::-webkit-scrollbar-track-piece { background: #ffffff;  }
::-webkit-scrollbar-corner { background: transparent; }

/************************ PLAYER ************************/
/* main player */
.player-container#main-player{
   position:fixed;
   text-align:center;
   bottom:0;
   left:0;
   width:100%;
   background-color:#000000;
   height: 4%;
   padding:5px;
   padding-bottom:2.5%;
   overflow-y: visible;
}
p#player-text{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.25vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ccff33;
  padding: 0.5%;
  max-width: 80%;
  text-align: center;
  margin: 0;
  -moz-animation: player-text 5s linear infinite alternate;
  -webkit-animation: player-text 5s linear infinite alternate;
  animation: player-text 5s linear infinite alternate;
}
#player-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.external-player-container#main-player{
  position:fixed;
  text-align:center;
  background: #ffffff;
  width:100%;
  max-height:15%;
  padding:5px;
  padding-top: 10px;
  margin-bottom: 5%;
  top: 0;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
}
p#external-player-text{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 3vw;
  font-weight: lighter;
  text-transform: uppercase;
  color: #0000ff;
  background-color: #ffffff;
  padding: 0.5%;
  padding-right: 5%;
  margin-right: 5%;
  margin-left: 9%;
  text-align: center;
  -moz-animation: external-player-text 5s linear infinite alternate;
  -webkit-animation: external-player-text 5s linear infinite alternate;
  animation: external-player-text 5s linear infinite alternate;
}
#external-player-text{
  display: block;
  position: relative;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
input[type="image"]{
 float:left;
 height:1%;
}
#volumeon-icon{
  float:left;
  width: 2%;
  padding: 0.1%;
  outline: none;
  margin-left: 1%;
  margin-top: 2px;
}
#volumeoff-icon{
  display: none;
  width: 2%;
  padding: 0.1%;
  outline: none;
}
#external-volume-icon{
  position: fixed;
  bottom: 0;
  left:0;
  width: 25px;
  height: 25px;
  margin: 2%;
  z-index: 1;
  outline: none;
}

/* secondary player (in-page player for about, schedule and submission pages) */
.player-container#secondary-player{
 position:fixed;
 text-align:left;
 bottom:0;
 left:0;
 width:100%;
 background-color: none;
 height: 4%;
 padding:5px;
 padding-bottom:2%;
 margin-bottom: 0.1%;
 overflow-y: visible;
}
#sec-volumeon-icon{
  float:left;
  width: 2.1%;
  padding: 0.1%;
  margin-left: 0.25%;
}
#sec-info-icon{
  float:left;
  width: 2.1%;
  padding: 0.1%;
}
#info-button .tooltip {
  visibility: hidden;
  background-color: #000000;
  color: #ccff33;
  border: 0.5px black solid;
  width:20%;
  height: 80px;
  padding: 5px 0;
  padding-top: 1%;
  text-align: center;
  /* tool tip position */
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 6%;
}
#info-button:hover .tooltip {
  visibility: visible;
}
/* player-text */
@-moz-keyframes player-text {
0%   { -moz-transform: translateX(21%); }
100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes player-text {
0%   { -webkit-transform: translateX(21%); }
100% { -webkit-transform: translateX(0%); }
}
@keyframes player-text {
0%   {
-moz-transform: translateX(21%); /* Firefox bug fix */
-webkit-transform: translateX(21%); /* Firefox bug fix */
transform: translateX(21%);
}
100% {
-moz-transform: translateX(0%); /* Firefox bug fix */
-webkit-transform: translateX(0%); /* Firefox bug fix */
transform: translateX(0%);
}
}
/* external player text */
@-moz-keyframes external-player-text {
0%   { -moz-transform: translateX(53%); }
100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes external-player-text {
0%   { -webkit-transform: translateX(53%); }
100% { -webkit-transform: translateX(0%); }
}
@keyframes external-player-text {
0%   {
-moz-transform: translateX(53%); /* Firefox bug fix */
-webkit-transform: translateX(53%); /* Firefox bug fix */
transform: translateX(53%);
}
100% {
-moz-transform: translateX(0%); /* Firefox bug fix */
-webkit-transform: translateX(0%); /* Firefox bug fix */
transform: translateX(0%);
}
}
/* external player hidden scrollbar */
.body-player::-webkit-scrollbar {
    display: none;
    background: transparent;
}
.body-player{ -ms-overflow-style: none; }
.body-player{ overflow: -moz-scrollbars-none; }

/* external player */
.body-player p#player-text{
  color: #0033ff;
}
.external-player{
  padding: 2%;
  text-align:center;
}
.body-player #main-player{
  background-color: #ffffff00;
  overflow: visible;
}
.body-player #external-player-text{
  background-color: #ffffff00;
}
.body-player #clock{
  visibility: hidden;
}
#external-player-logo{
  margin-top: 5%;
}
.body-player::-webkit-scrollbar { width: 0 !important }
.body-player{ -ms-overflow-style: none; }
.body-player{ overflow: -moz-scrollbars-none; }

/************************ -- INDEX -- ************************/
/* hidden scrollbar on index */
.body-index::-webkit-scrollbar { width: 0 !important }
.body-index{ -ms-overflow-style: none; }
.body-index{ overflow: -moz-scrollbars-none; }

#main-logo{
  width: 40%;
  padding-top:50px;
  padding-left:80px;
  padding-right: 20px;
  margin-bottom: -5px;
}
#main-logo-mobile{
  display: none;
}
#logo-underconstruciton{
  width: 100%;
}
#modal6{
  display: block;
  position: fixed;
  font-family: 'MisterPixel', 'VG5000';
  border: 0.15vw solid black;
  background-color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 40%;
  width: 80%;
  max-height: 70%;
  padding: 10px;
  z-index: 1;
}
.inner-modal-6{
  display: block;
  color: #0000ff;
  font-size: 2.4vh;
  line-height: 35px;
  border: 0.15vw solid black;
  min-height: 230px;
  max-height: 10%;
  overflow-y: hidden;
  padding: 10px;
}
.navigation-box{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
h2{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 2vw;
  font-weight: lighter;
  color: #0033ff;
  text-decoration: underline;
}
.icon-box{
  text-align: center;
  margin-top: -2%;
  width: 20%;
  height: 20%;
}
#about-icon{
  width: 118%;
  margin-bottom: -30%;
  margin-left: -6%;
}
#about-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#archive-icon{
  width: 108%;
  margin-bottom: -20%;
}
#archive-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#submission-icon{
  width: 108%;
  margin-bottom: -20%;
}
#submission-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}
#schedule-icon{
  width: 108%;
  margin-bottom: -20%;
}
#schedule-icon:hover{
  -webkit-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}

/*********************** -- ABOUT -- ***********************/
#about-page-title{
  position: relative;
  display: inline-block;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 7vmin;
  font-weight: lighter;
  color: #000000;
  text-align: center;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#about-page-link{
  text-decoration: none;
  color: #000000;
}
.tooltip{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1vw;
  font-weight: lighter;
  font-style: italic;
  color: #ccff33;
  text-align: center;
  z-index: 1000;
}
#about-page-title .tooltip {
  visibility: hidden;
  background-color: #000000;
  color: #ccff33;
  border: 0.5px black solid;
  width: 200px;
  padding: 5px 0;
  text-align: center;
  /* tool tip position */
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 105%;
}
#about-page-title:hover .tooltip {
  visibility: visible;
}
#second-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 6%;
}
.sub-navigation-box-2{
  display: block;
  position: fixed;
  width: 90%;
  height: 55%;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.about-nav{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.5vw;
  font-weight: lighter;
  color: #0033ff;
  z-index: 1;
}
.sub-icon-box{
  max-width: 10%;
  text-align: center;
}
.about-icons{
  width: 45%;
  margin: 5px;
}
#mission-icon-box{
 position: absolute;
 width: 100%;
 top: 71%;
 left: 19%;
}
#mission-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#mandate-icon-box{
  position: absolute;
  width: 100%;
  top: 33%;
  left: 28.5%;
}
#mandate-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#values-icon-box{
  position: absolute;
  width: 100%;
  top: 13%;
  left: 38%;
}
#values-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#policies-icon-box{
  position: absolute;
  width: 100%;
  top: 14%;
  left: 50%;
}
#policies-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#credits-icon-box{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 60%;
}
#credits-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
#contact-icon-box{
  position: absolute;
  width: 100%;
  top: 86%;
  left: 68%;
}
#contact-icon:hover{
  filter:drop-shadow(0px 0px 15px #ccff33);
  -webkit-filter: drop-shadow(0px 0px 15px #ccff33);
  -moz-filter: drop-shadow(0px 0px 15px #ccff33);
}
[id^=modal] {
  display: none;
  position: fixed;
  font-family: 'MisterPixel', 'VG5000';
  border: 0.15vw solid black;
  background-color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 40%;
  min-width: 30%;
  max-height: 70%;
  max-width: 35%;
  overflow-y: scroll;
  padding: 10px;
  z-index: 1;
}
h4{
 font-weight: normal;
 text-decoration: underline;
}
#modal1:target {
  display: block;
  }
#modal2:target {
  display: block;
  }
#modal3:target {
  display: block;
  }
#modal4:target {
  display: block;
  }
#modal5:target {
  display: block;
  }
#modal7:target {
    display: block;
    }
.socialmedia-icons-bar{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.socialmedia-icons{
  width: 15%;
  margin: 5px;
}
#facebook-icon:hover {
  filter:drop-shadow(0px 0px 10px #000000);
  -webkit-filter: drop-shadow(0px 0px 10px #000000);
  -moz-filter: drop-shadow(0px 0px 10px #000000);
}
#instagram-icon:hover {
  filter:drop-shadow(0px 0px 10px #000000);
  -webkit-filter: drop-shadow(0px 0px 10px #000000);
  -moz-filter: drop-shadow(0px 0px 10px #000000);
}
#mixcloud-icon:hover {
  filter:drop-shadow(0px 0px 10px #000000);
  -webkit-filter: drop-shadow(0px 0px 10px #000000);
  -moz-filter: drop-shadow(0px 0px 10px #000000);
}
h3{
    font-size: 1.5vw;
    font-weight: lighter;
    color: #000000;
    border: 0.15vw solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.8% 4%;
    border-radius: 17px;
    cursor: default;
    margin: 2%;
    margin-top: 0.5%;
}
.inner-modal{
  display: block;
  color: #0000ff;
  font-size: 1.3vw /*2.4vh*/;
  line-height: 35px;
  border: 0.15vw solid black;
  min-height: 410px;
  max-height: 30%;
  padding: 10px;
}
[id^=modal] a {
  float: right;
  }
  .close {
    display: block;
    position: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: #000000;
    font-size: 1.5em;
    font-weight: lighter;
    text-decoration: none;
    top: 0;
    left: 0;
  }
  .close:hover,
  .close:focus {
    background-color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .body-about #header-icon{
    opacity: 0;
  }
/************************ -- SCHEDULE-- ************************/

/* BEDROOM STREAM SCHEDULE SHTUFF ************************   --------
.bedroom-stream-body{
  margin-left: 5%;
  margin-bottom: 5%;
}
#bedroom-stream-title{
  position: fixed;
  margin-top: -2%;
  width: 40%;
}
.bedroom-stream-schedule{
  position: fixed;
  font-size: 1.4vw;
  padding-top: 11%;
  line-height: 2.3vw;
}
#bedroom-stream-time{
  font-family: 'VG5000', 'MisterPixel';
  color: #0033ff;
  white-space: none;
}
#bedroom-stream-show{
  font-family: 'MisterPixel', 'VG5000';
  color: #000000;
}
#bedroom-stream-logo{
  position: fixed;
  width: 30%;
  margin-right: 5%;
  right: 0;
  bottom: 0;
  margin-bottom: 5%;
  z-index: -1;
}*/

.mobile-button-tab{
  display: none;
}
.schedule{
   display: block;
   position: relative;
   height: 100%;
   top: 25%;
   width: 100%;
   padding: 5px;
   margin-top: 10vh;
   z-index: -1;
}
table {
  width: 100%;
  border: 1px solid transparent;
  border-collapse: separate;
}
table.schedule-table {
  position:relative;
  text-align:center;
  overflow-y: scroll;
  margin-bottom: 10vh;
}
tbody{
  background-color: #ffffff;
}
td{
  border: 1px solid black;
}
.show-time {
  background: #99ffcc;
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.5vw;
  font-weight: lighter;
  width:10%;
  height: 20%;
  padding: 10px;
}
/***** *******  TIME SLOTS   ******* ********/

#row1{
display: none;
}
#row2{
display: none;
}
#row3{
display: none;
}


/*desktop view*/
.show-name, .host-name, .show-description{
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.3vw;
  font-weight: lighter;
  padding: 5px;
  height: 50px;
}
td.show-name{
  width:30%;
}
td.host-name {
  width:30%;
}
td.show-description {
  width:70%;
}
td.show-host-name,.show-name,.host-name,.show-description{
  background-color: #ccff33;
}
td.show-random{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.4vw;
  padding: 15px;
  width:30%;
  background-color: #d3d3d3;
  border: 1px solid none;
}
#squiggle{
font-family: 'MisterPixel', 'VG5000';
font-size: 1.6vw;
}
/*mobile view*/
td.show-host-name{
  display: none;
}
/************************ SUBMISSION ************************/
.sub-index-button{
  margin: 0.2% 4%;
  padding: 0.8% 4%;
  outline: none;
}
#submission-page-link{
  text-decoration: none;
  color: #0033ff;
}
#general-page-title .tooltip {
  visibility: hidden;
  background-color: #000000;
  color: #ccff33;
  border: 0.5px black solid;
  width: 200px;
  padding: 5px 0;
  text-align: center;
  /* tool tip position */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 105%;
}
#general-page-title:hover .tooltip {
  visibility: visible;
}
#submission-section-description{
font-family: 'VG5000', 'MisterPixel';
}
#sudoForm{
  display: block;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.4vw;
  font-weight: lighter;
  text-align:left;
  color: #000000;
  width: 90%;
  padding: 5px;
  padding-bottom: 10%;
  padding-top: 27vh;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.form-section{
  margin: 2px;
}
#form{
  display: block;
  text-align:left;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.3vw;
  font-weight: lighter;
  color: #000000;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-bottom: 10%;
  padding-top:3%;
  z-index: -1;
}
#form::-webkit-scrollbar { width: 0 !important }
#form{ -ms-overflow-style: none; }
#form{ overflow: -moz-scrollbars-none; }

form{
  justify-content: left;
  padding-top: 20vh;
  width: 90%;
}
fieldset{
  border: none;
}
legend{
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5vw;
}
input{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 1.2vw;
  font-weight: lighter;
  text-align: center;
  margin: 5px;
}
input[type=text]{
  border: 0.1vw black solid;
  background-image: linear-gradient(to bottom , #ccccff , #99ffcc);
  height: 5%;
}
textarea{
  border: 0.1vw black solid;
  background-image: linear-gradient(to bottom , #ccccff , #99ffcc);
  width: 40%;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
  overflow-x: auto;
  text-align: justify;
  text-overflow: inherit;
}
.timeslot{
  width: 50%;
  padding: 5px;
  border: 0.5px dotted #ff9966;
}
span.error, .field-needed{
  color: #FF0000;
}
span.timeslot-span{
  font-size: 0.5vw;
}
.submission-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.5vw;
  margin-top: 0.5%;
  background-color: grey;
  border: 0.15vw black solid;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8% 4%;
  border-radius: 17px;
  cursor: pointer;
  z-index: 3;
  outline: none;
}
.submission-class{
  z-index: 1;
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'MisterPixel', 'VG5000';
  font-size: 1.4vw;
  margin-top: 0.5%;
  background-color: #0033ff;
  border: 0.15vw black solid;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8% 4%;
  /*padding: 10px 50px;*/
  border-radius: 17px;
  cursor: pointer;
}
.submit-class:hover{
  background-color: #ffffff;
  color: #0033ff;
}
.submission-button:active{
  border: 0.15vw black dotted;
}
.submission-class:active{
  border: 0.15vw black dotted;
}
footer{
  padding-bottom: 5%;
}

/* ****************************** */
/*************************** MOBILE DEVICE VERSION ***************************/
@media screen and (max-width: 800px)/*, screen and (max-width: 800px and max-height: 500px)*/{
  #general-page-title{
    margin-left: 7%;
    font-size: 6vmax;
  }
  #return-button{
    font-size: 6vw;
 }
  #header-icon{
    position: absolute;
    /*width: 20%;*/
    width: 100px;
    top:0;
    right:0;
    left:auto;
    margin-top: 3px;
    margin-right: 5px;
    padding-top: 10px;
    padding-right: 30px;
  }
  #clock{
    visibility: hidden;
  }
  #button-tab{
    display:none;
  }
  .mobile-button-tab{
    font-size: 1.3vw;
  }
  /************************ MOBILE PLAYER ************************/
    .player-container#main-player{
     height: 40px;
     padding:10px;
    }
    .player-container#secondary-player{
     bottom:0;
     left:0;
     height: 4%;
     padding: 5px;
     padding-bottom:6%;
    }
    #volumeon-icon{
      float:left;
      width:4%;
      margin: 5px;
      margin-top: -2px;
    }
    #volumeoff-icon{
      display: none;
      float:left;
      width:6%;
      margin: 5px;
      margin-top: 1px;
    }
    #info-icon{
      float:left;
      width:6%;
      margin: -2px;
      margin-top: -1px;
    }
    p#player-text{ /* not sure if this is doing anything ? */
      font-size: 3vmax;
      padding: 0.5%;
      width: 100%;
      height: 4%;
    }
/************************ (EXTERNAL) MOBILE PLAYER ************************/
  .body-player #external-player-text{
    font-size: 5vmin;
  }
/************************ MOBILE INDEX ************************/
  .navigation-box{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -30vh;
    margin-bottom: 10vh;
  }
  .icon-box{
    width: 100%;
    height: 100%;
  }
  #main-logo{
    display: none;
  }
  .header-mobile-index{
    position: fixed;
    background-image: linear-gradient(to bottom , #ffffff , #ffffff , #ffffff , #ffffff00);
    top:0;
    left:0;
    width:100%;
    height:47vmin;
    z-index: 1;
  }
  #main-logo-mobile{
    display: block;
    position: fixed;
    width: 325px;
    margin: 6%;
    margin-top: 6%;
    z-index: 2;
  }
  #about-icon{
    margin-bottom: -36%;
  }
  h2{
    font-size: 25px;
    padding-bottom: 10%;
  }
/************************ MOBILE ABOUT ************************/
.header-about{
  position: fixed;
  background-image: linear-gradient(to bottom , #ccccff , #ccccff , #ccccff , #ccccff , #99ffcc00);
  top:0;
  left:0;
  width:100%;
  height:32vmax;
  z-index: 1;
}
  #about-page-title{
    font-size: 5.9vmax;
    text-align: left;
    width:80%;
    left: 0%;
    top: 0%;
    margin-left: 7%;
    transform: translate(-0%, 0%);
  }
  #second-logo{
   display: none;
  }
 .about-header-icon{
   display: block;
  }
 .body-about #header-icon{
   opacity: 1;
  }
 .sub-navigation-box-2{
   display:block;
   position: absolute;
   width: 100%;
   height: 65%;
   margin-top: 30%;
   padding-bottom: 100px;
  }
  .about-icons{
   width: 100%;
  }
  .about-nav{
   font-size: 25px;
   margin-left: -25%;
  }
  #mission-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #mandate-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #values-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #policies-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
  }
  #credits-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
    text-align: center;
  }
  #contact-icon-box{
    display: block;
    position: relative;
    top: auto;
    left: 40%;
    margin: 20px;
    text-align: center;
  }
[id^=modal]{
    display: none;
    position: absolute;);
    max-height: 90%;
    min-width: 90%;
    margin:0;
    z-index: 1;
  }
  .close {
    font-size: 35px;
  }
  #about-page-title .tooltip {
    display: none;
  }
  h3{
    font-size: 25px;
  }
  .inner-modal{
    font-size: 20px;
    border: 0.15vw solid black;
    max-height: 90%;
    padding: 10px;
  }
/*********************** MOBILE SCHEDULE ************************/
.body-schedule{
   overflow-y:scroll;
}
/*********************** BEDROOM STREAM SHIT *********************************

#bedroom-stream-title{
  margin-top: 5%;
  width: 55%;
}
.bedroom-stream-schedule{
  padding-top: 27%;
  line-height: 25px;
  font-size: 15px;
  margin: 5px;
}
#bedroom-stream-logo{
visibility: hidden;
} ****** */

.header-schedule{
  height: 220px;
  background-image: linear-gradient(to bottom , #99ffcc , #99ffcc  , #ccff33);
}

/***********************  ********************  ******************************************  ------ /
/* scrollbar */
.body-schedule::-webkit-scrollbar-track { background: transparent; }
.schedule::-webkit-scrollbar-thumb { background: transparent; }
.schedule::-webkit-scrollbar-thumb:hover { background: transparent; }
.schedule::-webkit-scrollbar-button { background: transparent; }
.schedule::-webkit-scrollbar-track-piece { background: transparent;  }
.schedule::-webkit-scrollbar-corner { background: transparent; }

#monday-button{
  outline:none;
}
#tuesday-button{
  outline:none;
}
#wednesday-button{
  outline:none;
}
#thursday-button{
  outline:none;
}
#friday-button{
  outline:none;
}
.mobile-button-tab{
  margin-top: 4vh;
  text-align: center;
  display: block;
}
.schedule-button{
outline: none;
}
.schedule-button:active{
  outline: none;
  }
.mobile-schedule-button{
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 11px 20px;
  margin: 4px 2%;
  border: 1.5px solid black;
  cursor: pointer;
}
.schedule{
   position: fixed;
   height: 60vh;
   margin-top: 11vh;
   overflow-y: hidden;
}
.schedule-table{
  height: 50vh;
  margin-bottom: 26vh;
}
td{
 height: 55px;
}
td.show-time {
  font-size: 20px;
  padding: 5px;
  width: 15%;
  margin: 5px;
}
td.show-host-name{
  display: inline-block;
  font-size: 20px;
  padding: 7px;
  width:100%;
}
td.show-random{
  font-family: 'VG5000', 'MisterPixel';
  font-size: 20px;
  font-weight: normal;
  width:40%;
  background-color: #d3d3d3;
  padding: 7px;
  text-transform: lowercase;
}
td.show-name, .host-name, .show-description{
  display: none;
}
#show-name{
  font-family: 'MisterPixel','VG5000';
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#host-name{
  font-family: 'MisterPixel','VG5000';
  font-size: 20px;
}
#squiggle{
font-family: 'MisterPixel', 'VG5000';
font-size: 20px;
font-weight: normal;
}
/************************ MOBILE SUBMISSION ************************/
.body-submission #button-tab{
  display: block;
  margin-top: -5%;
}
.sub-index-button{
  font-size: 20px;
  margin: 5px;
  padding: 10px;
}
#form{
  font-size: 20px;
  padding-top: 55px;
}
#sudoForm{
  font-size: 20px;
  padding-top: 25%;
}
legend{
  font-size: 1.25em;
}
input{
  font-size: 15px;
}
input[type=text]{
  height: 25px;
  min-width: 150px;
}
#submission-button{
  font-size: 20px; /*** DOESNT WORK ***/
  border-radius: 17px;
  cursor: pointer;
}
#general-page-title .tooltip {
  display: none;
}
@media screen and (max-height: 500px){

  /************************ MOBILE INDEX ************************/
  .navigation-box{
    margin-top: -10vh;
  }
  .header-mobile-index{
    height:55vmax;
  }
}
