@font-face {
    font-family: 'VG5000';
    src: url('VG5000-Regular_web.eot');
    src: url('VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
         url('VG5000-Regular_web.woff') format('woff'),
         url('VG5000-Regular_web.woff2') format('woff2'),
         url('VG5000-Regular_web.ttf') format('truetype'),
         url('VG5000-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'terminal-grotesque';
    src: url('terminal-grotesque-webfont.eot');
    src: url('terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('terminal-grotesque-webfont.woff2') format('woff2'),
         url('terminal-grotesque-webfont.woff') format('woff'),
         url('terminal-grotesque-webfont.ttf') format('truetype'),
         url('terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lackitalic';
    src: url('lack-italic-Lack.woff2') format('woff2'),
         url('lack-italic-Lack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lack-lineitalic';
    src: url('lack-line-italic-Lack.woff2') format('woff2'),
         url('lack-line-italic-Lack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lack-lineregular';
    src: url('lack-line-regular-Lack.woff2') format('woff2'),
         url('lack-line-regular-Lack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lackregular';
    src: url('lack-regular-Lack.woff2') format('woff2'),
         url('lack-regular-Lack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    color: black;
    font-family: 'VG5000';
    margin: 0;
}
body a {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}
body a:hover {
    text-decoration: underline;
}
#container {
    width:100%;
}
#header-container {
    position: fixed;
    width:100%;
}
#header {
    /*background: linear-gradient(white,black) left bottom no-repeat;
    background-size: 100% 5px;*/
    top: 0;
    width:100%;
    background: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    /*margin: 10px;*/
    color: black;
}
#footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #bcb9b9;
}
#intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#schedule {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
table {
    border: 1px solid transparent;
    border-collapse: separate;
    width:100%;
}
table#schedule-header {
    background: white;
    top: 30px;
    border: none;
    margin: 0 auto;
    width: 100%;
}
table#schedule-header tr {
    border: none;
}
table#schedule-header td {
    border: none;
}
.gradient-separator {
    height: 20px;
    width:100%;
    background: linear-gradient(black,#ffffff00);
}
table#schedule-table {
    text-align:center;
    padding-top: 100px;
}
td {
    border: 1px solid black;
}
a.day {
    color: black;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    font-family:'terminal-grotesque';
    margin-bottom: 60px;
}
a.day.active {
    color: red;
}
tr.block-row {
    border: 1px solid black;
    /*font-size: 20px;*/
}
td.block-start-time {

}
td.block-title {
    background: #ffff00;
    color: #000000;
}
td.video-start-time {
    font-size: 20px;
    width:20%;
}
td.video-start-time a.start-time-anchor {
    text-decoration-color: none;
    text-decoration: none;
    color: black;
    cursor: default;
}
td.video-title {
    padding-top: 15px;
    font-style: italic;
    font-size:20px;
    width:30%;
}
